
body{
  color: black;
}

.red-text {
    color: red;
  }
  
  h2 {
    font-family: Lobster, monospace;
  }
  
  p {
    font-size: 16px;
    font-family: monospace;
  }
  
  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }
  
  .smaller-image {
    width: 100px;
  }

  .silver-background{
    background-color: silver;
  }

#cat-photo-form{
  background-color:goldenrod;
}


injected-text{
  margin-bottom: -25px;
  text-align:center;
}

.box{
  border-style:solid;
  border-color:black;
  border-width:5px;
  text-align:center;
}
.yellow-text{
  background-color: yellow;
  padding:10px;
}

.red-text{
  background-color:crimson;
  color:#fff;
  padding-right:20px;
  padding-bottom: 20px;
  padding-left:40px;
}

.blue-text{
  background-color: blue;
  color:#fff;
  padding-top: 40px;
  padding-left:40px;
  padding-right:20px;
  padding-bottom: 20px;
}

[type= "checkbox"]{
  margin-top:10px;
  margin-bottom:15px;
}

[input="indoor"]{
  border-radius: 10%;
}

.pink-text{
  color:pink;
}

.blue-text{
  color:blue;
}

#orange-text{
  color:orange;
}